# Data
*/data/*
*ffm
*csv
grid-and-filter/add-pos-bias/*.pos.bias
grid-and-filter/filter/*filter
*.model
*.tmp
*.cvt

# Binary
*.o
train
predict-and-filter

# Logs
grid-and-filter/grid/logs/

# Ctags
*tags

# Vim swp files
*.swp
